body {
  background: radial-gradient(ellipse at bottom, rgb(28, 40, 52) 0%, rgb(9, 10, 15) 90%);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0px;
}

span {
  position: absolute;
  left: 50%;
  top: 20%;
  font-family: 'Lato', sans-serif;
  font-weight: 350;
  font-size: 60px;
  letter-spacing: 40px;
  transform: translateX(-50%);
  background: linear-gradient(#edfeff 0%, #4e4f4f 100%);
  -webkit-background-clip: text;
  color: transparent;
  z-index: 3;
}

canvas {
  display: block;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.settings-box {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 10;
}

label {
  display: block;
  margin-bottom: 5px;
  z-index: 10;
}

input {
  width: 120px;
  z-index: 10;
}

.pink {
  background: radial-gradient(circle, rgba(238, 35, 211, 0.5) 0%, rgba(238, 35, 211, 0) 90%);
}

.purple {
  background: radial-gradient(circle, rgba(165, 16, 211, 0.5) 0%, rgba(165, 16, 211, 0) 90%);
}

.dark {
  background: radial-gradient(circle, rgba(66, 5, 180, 0.5) 0%, rgba(66, 5, 180, 0) 90%);
}

.bright {
  background: radial-gradient(circle, rgba(183, 88, 247, 0.5) 0%, rgba(183, 88, 247, 0) 90%);
}

#nebula-space {
  filter: blur(130px);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  opacity: 0.5;
}

#nebula-space * {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 2;
  border-radius: 50%;
  opacity: 0.55;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}